* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  text-align: center;
  color: white;

}
.container {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}


.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666667%;
}

.col-12 {
  width: 100%;
}


.logo {
  background-color: #7fffd4;
  padding: 1rem;
}

.menu{
  background-color: #87cefa;
  padding: 1rem;
}

.banner{
  background-color: #ff0a00;
  padding: 4rem;
}

.section1{
  background-color: #acff2e;
}

.section2{
 background-color: #ff6247;

}

.bol4, .bol5, .bol6{
  border: 1px solid grey;
  padding: 2rem;
}


footer{
  background-color: #ed82ed;
  padding: 2rem;
}

.bol1, .bol2, .bol3{
  border: 1px solid grey;
  height: 37.4rem;

}
